.card-style {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

.img-card {
  padding: 15px;
  height: 280px;
  width: 280px;
}

.footer-card{
  text-align: center;
  text-decoration: none;
}

.price-card {
  color: #e63030;
  font-weight: 900;
}