.carritoVacio {
  text-align: center;
  margin: 15px;
}

.sadCart {
  margin: 15px;
}

.goToHome, .goToHome:hover {
  text-decoration: none;
  color: white;
  background-color: #2364D2;
  border: solid #2364D2 1px;
  }

.buttonGeneric {
  color: white;
  margin: auto;
  background-color: #659dfd;
  border: solid #659dfd 1px;
  margin-right: 5px;
}

.buttonGeneric:hover {
  color: white;
  margin: auto;
  background-color: #2364D2;
  border: solid #2364D2 1px;
  margin-right: 5px;
}

.link-style {
  color: white;
  text-decoration: none;
}

.link-style:hover {
  color: white;
  text-decoration: none;
}

.table-head {
  margin-top: 30px;
}

.imgCart {
  height: 60px;
  width: 60px;
}

.table th, .table td {
  vertical-align: baseline;
}

.itemCart {
  text-align: -webkit-center;
  vertical-align: bottom;
}

.summary {
  padding: 15px;
  background-color: #d0e1ff4b;
  border-radius: 8px;
}

.cart-summary {
  width: 280px;
  height: auto;
  position: absolute;
  margin-top: 30px;
}

.title-summary {
  font-weight: 700;
}

.form {
  margin-top: 200px;
  height: auto;
  width: auto;
  position: absolute;
}
