.carritoVacio {
    text-align: center;
    margin: 15px;
}

.sadCart {
    margin: 15px;
}

.link-style {
    color: white;
    text-decoration: none;
}

.button-style:hover {
    background-color: #0dceda;
}

.link-style:hover {
    color: white;
    text-decoration: none;
}