.imgProducto {
  width: 400px;
  height: 400px;
}

.breadcrumb {
  background-color: white;
  padding: 5px;
}

.row-description {
  margin-top: 20px;
}

.flex {
  display: flex;
}

.buttonAddToCart{
  width: 400px;
  margin: auto;
}

.goToCart {
text-decoration: none;
color: white;
}

.goToCart:hover {
  text-decoration: none;
  color: white;
}